@import "var";

.home {
	background: linear-gradient(109.25deg, $bg1 4.26%, $bg2 96.25%);
	position: relative;
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	.hero {
		width: 100vw;
		height: 100vh;
		position: relative;
		@include center;
		.content-wrapper {
			@include center;
			flex-direction: column;
			width: 50%;
			height: 100%;
			z-index: 1;
			text-align: center;
			margin-top: -2rem;
			.headline {
				@include center;
				font-size: $txt-xl;
				font-weight: $fw-semibold;
				color: $dark;
				line-height: 4.5rem;
				margin-bottom: 1.5rem;
			}
			.tldr {
				width: 90%;
				margin: 0 auto;
			}
			.to-mint-btn {
				@include center;
				button {
					@include btn-primary($accent, $light);
					font-size: $txt-sm;
					border-radius: $br-round;
					padding: 0.5rem 1rem;
					font-family: inherit;
					transition: all 0.3s ease-in-out;
					a {
						@include link-primary;
						color: $light;
					}
					&:hover {
						background-color: rgba($accent, 0.8);
						box-shadow: 0px 0px 8px rgba($accent, 0.4);
					}
				}
				margin-top: 1.5rem;
				margin-bottom: 1rem;
			}
			.socials {
				@include center;
				margin: 0 auto;
				font-size: $txt-md-mobile;
				width: 50%;
				a {
					position: relative;
					text-decoration: none;
					color: $dark;
					&:after {
						position: absolute;
						content: "";
						height: 2px;
						background-color: $dark;
						bottom: -0.15rem;
						left: 0;
						transition: all 0.3s ease-in-out;
					}
					&:hover {
						text-shadow: 0px 0px 8px rgba($accent, 0.4);
						&:after {
							background-color: $accent;
							height: 4px;
						}
					}
				}

				.twitter {
					cursor: url("./assets/twitter-hover.svg") auto;
					margin-right: 2rem;
					&:after {
						width: 4.4rem;
					}
				}

				.discord {
					cursor: url("./assets/discord-hover.svg") auto;
					&:after {
						width: 5.1rem;
						left: -2px;
					}
				}
			}
		}
		.scroll {
			z-index: 2;
			position: absolute;
			bottom: 1rem;
			margin: 0 auto;
			@include center;
			.emoji {
				font-size: $txt-sm;
				margin-right: 0.5rem;
			}
			.scroll-text {
				font-size: $txt-xs;
				font-weight: $fw-semibold;
				color: $dark;
			}
		}
		.background {
			overflow-y: hidden;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				width: 25vw;
				min-width: 18rem;
				margin-bottom: -5rem;
			}
			.tycoon-1 {
				margin-right: auto;
				margin-left: -3rem;
			}
			.tycoon-2 {
				margin-right: -3rem;
			}
		}
	}
	.treasurey {
		margin-top: 10ch;
		width: 100vw;
		height: calc(100vh - 6ch);
		@include center;
		flex-direction: column;
		.bank-image {
			@include center;
			width: 100%;
			height: calc(60% - 3ch);
			img {
				position: relative;
				width: 35vw;
				min-width: 18rem;
				&:after {
					position: absolute;
					content: "";
					width: 10rem;
					height: 10rem;
					background: coral;
					top: 0;
					left: 0;
					z-index: 100;
				}
			}
			@media screen and (max-width: $bp-tab) {
				flex-direction: column;
				height: calc(30% - 3ch);
			}
		}
		.stats {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: calc(40% - 3ch);
			.sold,
			.total,
			.backed {
				@include center;
				flex-direction: column;
				.value {
					font-size: $txt-xl;
					font-weight: $fw-bold;
					text-shadow: 0px 0px 36px rgba($accent, 0.4);
				}
				font-size: $txt-md;
				font-weight: $fw-medium;
				color: $dark;
				margin-bottom: 1rem;
			}
			.total {
				.value {
					font-size: $txt-xxl;
					font-weight: $fw-bold;
				}
			}
			.backed {
				.value span {
					font-size: $txt-md;
					font-weight: $fw-medium;
					color: $dark;
				}
			}
			@media screen and (max-width: $bp-tab) {
				justify-content: space-evenly;
				flex-direction: column;
				height: calc(70% - 3ch);
			}
		}
	}
}
