@import "var";

.home {
	background: linear-gradient(109.25deg, $bg1 4.26%, $bg2 96.25%);
	.hero {
		overflow: hidden;
		width: 100vw;
		height: calc(100vh - 6ch);
		position: relative;
		@include center;
		.content-wrapper {
			@include center;
			flex-direction: column;
			width: 50%;
			height: 100%;
			z-index: 1;
			text-align: center;
			.headline {
				font-size: $txt-xl;
				font-weight: $fw-semibold;
				color: $dark;
				line-height: 4.5rem;
				@include center;
				margin-bottom: 1.5rem;
			}
			.tldr {
				width: 90%;
				margin: 0 auto;
			}
			.to-mint-btn {
				@include center;
				button {
					@include btn-primary($accent, $light);
					font-size: $txt-sm;
					border-radius: $br-round;
					padding: 0.5rem 1rem;
					font-family: inherit;
					transition: all 0.3s ease-in-out;
					a {
						@include link-primary;
						color: $light;
					}
					&:hover {
						background-color: rgba($accent, 0.8);
						box-shadow: 0px 0px 8px rgba($accent, 0.4);
					}
				}
				margin: 1.5rem 0;
			}
			.socials {
				@include center;
				margin: 0 auto;

				font-size: $txt-md-mobile;
				width: 50%;
				a {
					position: relative;
					text-decoration: none;
					color: $dark;
					&:after {
						position: absolute;
						content: "";
						height: 2px;
						background-color: $dark;
						bottom: -0.15rem;
						left: 0;
						transition: all 0.3s ease-in-out;
					}
					&:hover {
						text-shadow: 0px 0px 8px rgba($accent, 0.4);
						&:after {
							background-color: $accent;
							height: 4px;
						}
					}
				}
				.twitter {
					cursor: url("./assets/twitter-hover.svg") auto;
					margin-right: 2rem;
					&:after {
						width: 4.4rem;
					}
				}
				.discord:after {
					width: 5.1rem;
					left: -2px;
					cursor: url("./assets/discord-hover.svg") auto;
				}
			}
		}
		.scroll {
			z-index: 2;
			position: absolute;
			bottom: 1rem;
			margin: 0 auto;
			@include center;
			.emoji {
				font-size: $txt-md;
				margin-right: 0.5rem;
			}
		}
		.background {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				width: 25vw;
				min-width: 18rem;
				margin-bottom: -5rem;
			}
			.tycoon-1 {
				margin-right: auto;
				margin-left: -3rem;
			}
			.tycoon-2 {
				margin-right: -3rem;
			}
		}
	}
}
