@import "var";

*,
*::before,
*::after {
	box-sizing: border-box;
	iframe {
		display: none;
	}
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: $ff-reg;
	color: $dark;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
